This file contains comments ## like this one!
which should not appear in the template output...
## This line should be completely missing from the output
## and this one two, because the comments are the first
## (and only) thing on the lines
In the final output, this should be the third line...