#*

Another multiline comment

Note that I can use anything I want inside comments:

	* Tabs
	* Non-existent #directives
	* Real directives like #raw, #set, #super, #def and #import
	* Placeholders: $hello("world")
	* Escape sequences: \n\r
	* Nested comments: ## here is a single-line one
	* Nested comments: #* here is a multi-line one *#

*#