## This example shows some alternative ways of causing #def content to appear in the output
## (by default #def content is not automatically injected into the output)
#def block1
This is block 1. It will be injected using the \#silent directive.
#end
#def block2
This is block 2. It will be injected using the \#ruby directive.
#end
#def block3
This is block 3. It will be referenced using a placeholder.
#end
## no need to call "accumulate" here because the block already does that.
#silent block1
#ruby
# no need to call "accumulate" here because the block already does that.
block2
#end
$block3