#def counter
#ruby
@counter ||= 0 # initialize counter
@counter += 1  # increment counter
#end
#end
## Note how in the first three cases below I use an explicit end-of-directive marker;
## this is to ensure that Walrus "sees" (and emits) a newline after each number.
#echo counter#
#echo counter#
#echo counter#
#echo counter