The \#slurp directive can be used to gobble up a trailing newline. #slurp
This template consists of several lines of text, but thanks to the #slurp
use of the \#slurp directive the newlines are all gobbled up and #slurp
the final output appears all on one line.