This file contains comments ## like this one!
which should not appear in the template output...
## This line should be completely missing from the output
In the final output, this should be the third line...